<mat-form-field class="example-chip-list" [formGroup]="parentForm">
  <mat-chip-list #chipList aria-label="Merchant Tags">
    <mat-chip
      *ngFor="let tag of parentForm['controls'].merchant_tag['controls']; let i = index"
      [selectable]="merchantTags.selectable"
      [removable]="merchantTags.removable"
      (removed)="removeTag(i)"
    >
      {{ tag.value }}
      <mat-icon matChipRemove *ngIf="merchantTags.removable">cancel</mat-icon>
    </mat-chip>
    <input
      matInput
      [matAutocomplete]="auto"
      (keypress)="handleChange($event)"
      placeholder="New fruit..."
      [matChipInputFor]="chipList"
      #merchantInput
      [matChipInputSeparatorKeyCodes]="merchantTags.separatorKeysCodes"
      [matChipInputAddOnBlur]="merchantTags.addOnBlur"
      (matChipInputTokenEnd)="addTag($event)"
    />
  </mat-chip-list>
  <mat-autocomplete
    #auto="matAutocomplete"
    style="margin-top: 30px; max-height: 600px"
    (optionSelected)="selected($event)"
  >
    <div *ngFor="let index of state.indices || []">
      <mat-option *ngFor="let option of index.hits" [value]="option.value">
        {{ option.value }}
      </mat-option>
    </div>
  </mat-autocomplete>
</mat-form-field>
